*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
/* Default font-size in the browser is 16px so this translates to 10px */
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  height: 35vh;
  background-image: url(img/bacteria.jpg);
  background-size: cover;
  background-position: top;
  /*no matter the viewport size, the top of the image remains at the top */
  position: relative;
}

.header__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
}

.title-main {
  font-size: 6rem;
  font-weight: 400;
}

.title-secondary {
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
  font-weight: 500;
}

.current-date {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.5rem;
}

.state-selection {
  text-align: center;
  align-items: center;
  font-size: 3rem;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
}

.state-selector div {
  border: 1px solid blue;
}

.state-input {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  z-index: 2;
}

#state-selector {
  border: 10px solid rgba(88, 158, 170, 0.8);
  border-radius: 10px;
  width: 55rem;
  height: 8rem;
  font-size: 3rem;
  /* margin-top: 8px; */
}

li {
  text-decoration: none;
}

.suggestions {

}

.suggestions li {
  text-decoration: none;
  position: relative;
  z-index: 10;
}

.state-display {
  margin-left: 3rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  z-index: 1;
}

.state-name {
  flex: 1;
}

.state-flag {
  flex: 1;
  background-image: url(img/flags/alabama.svg);
  background-size: 50% 100%;
  background-repeat:no-repeat;
  background-position: center;
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats__values {
  border: 1px solid blue;
  height: 15vh;
}
.stats__viz {
  border: 1px solid blue;
  height: 37vh;
  color: green;
}

div {
  border: 1px red solid;
}
